.mut-tag {
  background: #5865f2;
  color: #fff;
  border-radius: 3px;
  padding: 0 4px;
  margin-left: 4px;
  font-size: 0.625rem;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  height: 15px;
  font-weight: 500;
  line-height: 15px;
  flex-shrink: 0;
  vertical-align: top;
}
